<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @comment.technology_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_technology_comment_path(@technology,@comment) %> |
<%= link_to 'Back', technology_path(@technology) %>
